{
    "parserOptions": {
        "ecmaVersion": 9,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "semi": "error",
        "no-const-assign": 2,
        "no-undef": 2
    },
    "globals": {
        "console": "readonly",
        "document": "readonly",
        "window": "readonly",
        "location": "readonly",
        "process": "readonly",
        "setTimeout": "readonly",
        "clearTimeout": "readonly",
        "fetch": "readonly"
    }
}
